#field {
  width: 200px;
  border: 10px groove black;
  background-color: rgba(90, 187, 88, 1);
  position: relative;
}

#ball {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
