@import './common';
@import './Anna';
@import './Polina';

.container {
  margin: 0 auto;
  width: 1920px;
  padding: 0;
}

h1.h2,
h3,
h4,
p,
ul,
li,
input,
button,
a,
body,
img {
  margin: 0;
  padding: 0;
}
button {
  border: none;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
