<section class="max-number-finder">
  <h2 class="max-number-title">Введіть 3 числа</h2>

  <div class="number-inputs">
    <div class="input-group">
      <input
        type="number"
        class="number-input"
        data-index="0"
        placeholder="Введіть число"
      />
    </div>

    <div class="input-group">
      <input
        type="number"
        class="number-input"
        data-index="1"
        placeholder="Введіть число"
      />
    </div>

    <div class="input-group">
      <input
        type="number"
        class="number-input"
        data-index="2"
        placeholder="Введіть число"
      />
    </div>
  </div>

  <button class="find-max-button">
    Найбільше число, яке ви ввели - <span class="max-number-value">--</span>
  </button>
</section>
