 <section class="max-number-finder">
        <h2 class="max-number-title">Знайдіть найбільше число</h2>
        <p class="max-number-instruction">Введіть 3 числа</p>
        <div class="number-inputs">
            <div class="input-group">
                <label class="input-label">Введіть число 1</label>
                <input type="number" class="number-input" data-index="0" placeholder="Перше число"></input>
            </div>
            <div class="input-group">
                <label class="input-label">Введіть число 2</label>
                <input type="number" class="number-input" data-index="1" placeholder="Друге число"></input>
                
            </div>
            <div class="input-group">
                <label class="input-label">Введіть число 3</label>
                <input type="number" class="number-input" data-index="2" placeholder="Третє число"></input> 
            </div>
        </div>
        <button class="find-max-button">Знайти найбільше число</button>
        <div class="max-number-result">
            <p class="result-text">Найбільше число, яке ви ввели - <span class="max-number-value">--</span></p>
        </div>
    </section>
