<section class="number-guessing-game">
  <h2 class="guessing-game-title">Вгадай число, яке загадав комп'ютер</h2>
  <div class="guessing-game-input-group">
    <label for="userGuess" class="guessing-game-label"
      >Введіть число (1-100)</label
    >
    <input
      type="number"
      id="userGuess"
      class="guessing-game-input"
      min="1"
      max="100"
    />
    <button class="guessing-game-button">Спробувати</button>
  </div>
  <p class="guessing-game-result">Комп'ютер загадав число від 1 до 100</p>
</section>
