<section class="our-team">
  <h2 class="team-title">Наша команда</h2>
  <div class="team-slider-container">
    <button class="slider-arrow slider-arrow-prev">&#10094;</button>

    <div class="team-slider">
      <div class="slider-track">
        <!--  1 -->
        <div class="slide">
          <div class="member-photo-frame">
            <!--<img src="" alt="Член команди 1" class="member-photo" />-->
          </div>
          <div class="member-info">
            <h3 class="member-name">Ім'я студента</h3>
            <p class="member-work">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
        </div>

        <!-- 2 -->
        <div class="slide">
          <div class="member-photo-frame">
            <!--<img src="" alt="Член команди 2" class="member-photo" />-->
          </div>
          <div class="member-info">
            <h3 class="member-name">Ім'я студента</h3>
            <p class="member-work">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
        </div>

        <!-- 3 -->
        <div class="slide">
          <div class="member-photo-frame">
            <!-- <img src="" alt="Член команди 3" class="member-photo" />-->
          </div>
          <div class="member-info">
            <h3 class="member-name">Ім'я студента</h3>
            <p class="member-work">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
        </div>

        <!--  4 -->
        <div class="slide">
          <div class="member-photo-frame">
            <!--  <img src="" alt="Член команди 4" class="member-photo" />-->
          </div>
          <div class="member-info">
            <h3 class="member-name">Ім'я студента</h3>
            <p class="member-work">
              Інформація про роботу, яку він/вона виконав/ла
            </p>
          </div>
        </div>
      </div>
    </div>

    <button class="slider-arrow slider-arrow-next">&#10095;</button>
  </div>

  <div class="slider-dots">
    <span class="dot active" data-slide="0"></span>
    <span class="dot" data-slide="1"></span>
    <span class="dot" data-slide="2"></span>
    <span class="dot" data-slide="3"></span>
  </div>
</section>
