<section class="time-calculator">
  <h2 class="time-calc-title">Калькулятор часу</h2>
  <div class="time-calc-input-group">
    <label for="secondsInput" class="time-calc-label"
      >Введіть кількість секунд</label
    >
    <input
      type="number"
      id="secondsInput"
      class="time-calc-input"
      min="0"
      placeholder="Наприклад, 280321"
    />
    <button class="time-calc-button">Перетворити</button>
  </div>
  <div class="time-calc-result">
    <h3>Результат:</h3>
    <p class="time-result-display">Введіть секунди</p>
  </div>
</section>
